:root {
  --cor-1: #eff9f0;
  --cor-2: #0064b0;
  --cor-3: #005595;
  --cor-4: #00457a;
  --cor-5: #000c14;
  --cor-texto: #eff9f0;
}

.light-mode:root {
  --cor-1: #c2e7ff;
  --cor-2: #0064b0;
  --cor-3: #005595;
  --cor-4: #00457a;
  --cor-5: #33adff;
  --cor-texto: #000c14;
}
