* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-8);
  color: var(--cor-1);
  box-sizing: border-box;
  color: var(--cor-1);
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}
