.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.menu p {
  max-width: 250px;
  align-self: center;
}

.menu a {
  background-color: var(--cor-3);
  padding: 4px 16px;
  border: 1px solid var(--cor-2);
  border-radius: 4px;
  color: var(--cor-0);
  margin-bottom: 25px;
}

.menu a:hover {
  background-color: var(--cor-2);
}
