.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

.menu p {
  max-width: 250px;
  align-self: center;
}

.menu a {
  background: linear-gradient(to bottom, var(--cor-5), var(--cor-7));
  padding: 4px 20px;
  border: 1px solid var(--cor-5);
  border-radius: 4px;
  color: var(--cor-0);
  margin-bottom: 25px;
}

.menu a:hover {
  background: linear-gradient(to bottom, var(--cor-6), var(--cor-7));
  border: 1px solid var(--cor-7);
  transition: 0.4s;
}
