.tarefas-conteudo {
  background: linear-gradient(to bottom, var(--cor-2), var(--cor-3));
  padding: 40px 20px 20px 20px;
  border: 2px solid var(--cor-3);
  border-radius: 4px;
  margin-bottom: 25px;
}

.tarefas-conteudo:hover {
  background: linear-gradient(to bottom, var(--cor-2), var(--cor-4));
  border: 2px solid var(--cor-4);
}

.tarefas-conteudo h1 {
  color: var(--cor-1);
  text-align: center;
  margin-bottom: 25px;
}

.conteudo-lista {
  background-color: var(--cor-4);
  border: 2px solid var(--cor-4);
  padding: 1px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.conteudo-lista h3 {
  text-align: center;
  margin: 20px 0;
  color: #000c14;
}

.conteudo-lista > div {
  background-color: var(--cor-1);
  border-radius: 4px;
  padding: 20px 0;
}

.tarefas li {
  color: var(--cor-4);
  padding: 0 20px;
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  text-transform: lowercase;
  transition: 0.6s;
  margin-bottom: 10px;
}

.tarefas li > div {
  display: flex;
}

.tarefas ul > p {
  color: var(--cor-3);
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.tarefas li:hover {
  transition: 0.6s;
  padding-left: 1.5rem;
}

.nova-tarefa {
  display: flex;
  justify-content: start;
  gap: 12px;
}

.nova-tarefa p {
  margin-bottom: 12px;
}

.turno > div {
  width: max-content;
  display: flex;
  justify-items: center;
  align-items: center;
  border: 2px solid var(--cor-4);
  border-radius: 10px;
  background-color: #adadad;
}

.turno > div input {
  appearance: none;
  display: inline-block;
  width: 60px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.turno > div input:nth-child(1)::before {
  content: "";
  background: url("../../assets/sun.svg") no-repeat center center;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 5px;
  right: 20px;
}

.turno > div input:nth-child(2)::before {
  content: "";
  background: url("../../assets/moon.svg") no-repeat center center;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 6px;
  right: 17px;
}

.turno > div input:nth-child(1):checked {
  background-color: #ffd400;
  border-radius: 8px;
}

.turno > div input:nth-child(2):checked {
  background-color: #00253d;
  border-radius: 8px;
}

#input-nova-tarefa {
  background-color: #d6edff;
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border: 10px solid var(--cor-3);
  outline: none;
  margin-bottom: 12px;
}

#btn-nova-tarefa {
  background: none;
  color: var(--cor-1);
  border: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-top: 8px;
}

#btn-nova-tarefa svg {
  align-self: center;
}

#btn-nova-tarefa:hover {
  color: var(--cor-3);
}

.btn-check,
.btn-remove {
  background: none;
  border: none;
  color: var(--cor-4);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  text-decoration: none !important;
}

.btn-check:hover {
  color: var(--cor-2);
}

@media (max-width: 600px) {
  .conteudo-lista {
    grid-template-columns: 1fr;
  }
}
